<%include partials/head.ejs%>



<nav class="fixed-navbar" id="navbar-custom">
    <ul class="left">
        <li><a href="#bg-video" class="bg-video active">Home</a></li>
        <li><a href="#aboutMe" class="aboutMe" >About me</a></li>
        <li><a href="#contact" class="contact">Contact</a></li>
        <li><a href="#download" class="download">Download</a></li>
        <li class="icon" ><a href="javascript:void(0)" id="collapse-navbar">&#9776;</a></li>
    </ul>

    <ul class="right">
        <li class="social-media"><a href="#">Social Media:</a></li>
        <li><a href="#dialog" id="trigger">Resume</a></li>
        <li><a href="https://github.com/palepnaren" target="_blank"><span><i class="fa fa-github"></i></span></a></li>
        <li><a href="https://plus.google.com/u/0/101235481315009460394" target="_blank" ><span><i class="fa fa-google-plus"></i></span></a></li>
        <li><a href="https://www.linkedin.com/in/naren-p-03b50514b/"  target="_blank"><span><i class="fa fa-linkedin-square"></i></span></a></li>
    </ul>
</nav>



<!--<div id="container">-->
<div id="bg-video" >
    <video autoplay loop id="custom-video" preload="auto">
        <source src="videos/code.mp4" type="video/mp4">
        Video not supported  
    </video>
    <p id="credits">Credits for video: https://www.youtube.com/watch?v=4DAbnHv6VHs&t=8s</p>
</div>
<!--</div>-->

<div id="profile-img">
    <img src="/images/naren.jpeg" class="img-circle img-responsive"  alt="Profile picture not found">
</div>

<div id="tx-video">
    <p>Hi I am Naren.</p>
</div>

<div class="content">
    <div class="container well" id="aboutMe">
        <p class="lead">
            Pork chop hamburger meatball jerky pork ball tip shankle short loin tenderloin pancetta chicken. Capicola andouille sausage ham hock, ham fatback short ribs meatloaf chuck beef bacon brisket. Tri-tip flank pancetta ball tip porchetta. Sirloin pork belly filet mignon, ball tip brisket tongue hamburger short loin tenderloin kielbasa kevin chicken landjaeger.
        </p>
        <p id="indent">
            Pork chop hamburger meatball jerky pork ball tip shankle short loin tenderloin pancetta chicken. Capicola andouille sausage ham hock, ham fatback short ribs meatloaf chuck beef bacon brisket. Tri-tip flank pancetta ball tip porchetta. Sirloin pork belly filet mignon, ball tip brisket tongue hamburger short loin tenderloin kielbasa kevin chicken landjaeger.
        </p>
    </div>
</div>
<div id="contact" class="container">
    <div class="row">
        <div id="msg" class="col-md-4 col-md-offset-4">
            <% if(typeof(error)!=='undefined' && typeof(redirect)!=='undefined' && typeof(success)!=='undefined') {%>
            <% if(error !== ''){%>
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p><%= error%></p>
            </div>
            <%}%>
            <% if(success !== ''){%>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p><%= success%></p>
            </div>
            <%}%>
            <button type="submit" class="btn btn-default" id="redirect" value="Home" onClick="location.href='<%=redirect%>'">Home</button>
            <% } %>
        </div>
        <div id="form" class="col-md-4 col-md-offset-4 panel panel-default <% if(typeof(prop)!=='undefined') {%> <%= prop%> <% }%>">

            <h1 align="center" class="margin-base-vertical">You can contact by sending me an email or by calling.</h1>

            <form class="margin-base-vertical" method="post" action="/email">
                <p class="input-group ">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control col-xs-10 col-lg-10 col-sm-10 col-md-10" id="name" name="full_name" placeholder="Enter name" > 
                </p>

                <p class="input-group ">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="email" class="form-control col-xs-10 col-lg-10 col-sm-10 col-md-10" id="email" name="email" placeholder="Enter email address" required>
                </p>

                <p class="input-group ">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    <input type="text" class="form-control col-xs-10 col-lg-10 col-sm-10 col-md-10" id="subject" name="subject" placeholder="Subject" required>
                </p>

                <p class="input-group ">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    <textarea type="text" class="form-control col-xs-10 col-lg-10 col-sm-10 col-md-10" id="message" name="message" required cols="10" rows="5" placeholder="Type your message.."></textarea>
                </p>

                <br/>

                <p class="text-center">
                    <button type="submit" class="btn btn-success btn-md">Email</button>
                    <button class="btn btn-md btn-danger" value="reset" type="reset">Clear</button>
                </p>
            </form>
        </div>
    </div>
    <div id="number" class="<% if(typeof(prop)!=='undefined') {%> <%= prop%> <% }%>">
        <p>You can call me on &#64; &#40;469&#41; 626&#45;8767. </p>
    </div>
</div>

<div id="download">
    <div class="git">
        <p>Here you can access all my projects and my profile project can be downloaded</p>
        <p id="source"><a href="https://github.com/palepnaren/Project_Portfolio" target="_blank">View Source <span class="fa fa-github"></span></a></p>
    </div>
</div>

<div id="map">

</div>

<div class="container-fluid">
    <div id="footer">
        <footer class="footer">
            <ul class="left">
                <li>&copy; Created By Naren &hearts; from 2017 - 2018</li>
                <li id="likes">Hit Like <i class="fa fa-heart"></i> : <span id="value">0</span></li>
            </ul>
            <ul class="right">
                <li id="visitors">Number of Views:<span id="views"></span></li>
                <li id="counter"></li>
            </ul>
        </footer>
    </div>
</div>


<div id="dialog" style="display:none" title="Resume">
    <iframe src="/file/Naren_Resume.pdf" width="450" height="650"/>
</div>





<%include partials/footer.ejs%>